form(action="/app/index", method="post")
    div(class="form-group")
        label(for="task")
        div(class="input-group mb-3")
            input(type="text" class="form-control" placeholder="New Task" aria-label="New Task" aria-describedby="basic-addon2", id="task", name="task")
            div(class="input-group-append")
                button(class="btn btn-primary" type="submit") Ajouter