html
    include includes/head.pug
    body
        div(class="container")
            div(class="row")
                div(class="col-md-6 offset-md-3")
                    h1(class="text-center") Formation NodeJs
                    h2(class="text-center") Gestion des todos
                    h4 Liste des tâches

                    ul(class="list-group")
                    each task in tasks
                        form(action="/app/remove", method="post" class="input-group mb-3")
                            input(type="text" class="form-control", name="task", value=`${task.name}` readonly)
                            div(class="input-group-append")
                                button(class="btn btn-primary" type="submit") Supprimer
                    hr

                    include includes/form.pug